* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Montserrat", Tahoma, Geneva, sans-serif;
    justify-content: center;
    align-items: center;
}

header {
    padding: 2rem;
    grid-column: 1/4;
    background-color: rgb(118, 209, 145);
}

header span {
    display: block;
    font-family: Luminari;
    font-size: xxx-large;
    text-align: center;
}

nav {
    margin: auto;
    padding: 1rem;
}

.navigation {
    background-color: blue;
    list-style-type: none;
    display: flex;
    padding: 1rem;
}

.navigation li{
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: red;
    border: 1px solid #fff;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
    justify-content: center;
    margin: 2rem auto;
}

h1 {
    font-family: luminari;
    grid-column: 1/4;
    justify-content: center;
    text-align: center;
}

.card h2 {
    background-color: rgb(118, 209, 145);
    border-radius: 8px;
    padding: 1rem;
}

.wide {
    grid-column: 1/3;
    padding: 3rem;
    justify-content: center;
    display: grid;
    grid-template: auto 1fr / 2fr 1fr 2fr;
}

.wide img {
    grid-column: 2/3;
    align-items: right;
    justify-items: right;
}

.narrow {
    grid-column: 3/4;
    padding: 3rem;
    justify-content: center;
}
