@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        position: relative
    }

    .hero {
        position: relative;
        grid-column: 1 / -1;
        margin-bottom: 2rem;
        min-height: 400px;
    }

    h2 {
        font-size: .85rem;
    }

    .data {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 250px;
        margin: 0;
        background-color: var(--transparency);
        color: black;
        padding: 1rem;
        border-radius: var(--border-radius);
    }

    .weather {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 200px;
        margin: 0;
        background-color: var(--transparency);
        color: black;
        padding: 1rem;
        border-radius: var(--border-radius);
    }

    .data dl, .weather #weather-data {
        font-size: 0.65rem;
        line-height: 1.4;
        margin: 0.2rem 0;
    }
    
    .data dt {
        font-weight: bold;
        margin-top: 0.3rem;
    }
    
    .data dd {
        margin-bottom: 0.3rem;
        margin-left: 0;
    }

    .weather-icon {
        display: none;
    }
    
    .weather h2::after {
        content: "☀️";
        margin-left: 10px;
        display: inline-block;
    }
}    